:root {
    --backgroundColour: linear-gradient(120deg, #0c0c0c 0%, #575757 100%);
    --navBackgroundColour: transparent;
    --navForegroundColour: white;
}

section.appsList {
    margin: 10px;
    margin-top: 80px;
    padding: unset;
    padding-left: unset;
    padding-right: unset;
}

.appsListLoader {
    padding-top: calc(50vh - 150px);
    padding-bottom: calc(50vh - 150px);
    text-align: center;
}

.appTile {
    display: inline-block;
    width: calc(25vw - 15px);
    height: 12.5vw;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 550px) {
    .appTile {
        width: calc(50vw - 20px);
        height: 25vw;
    }
}