:root {
    --backgroundColour: #f8f8f8;
    --uiColour: #0c0c0c;
    --uiTextColour: white;
    --uiHoverColour: #2c2c2c;
    --uiSelectedColour: #1c1c1c;
    --uiFlatTextColour: #2c2c2c;
    --uiInputColour: #e5e5e5;
    --uiInputTextColour: black;
    --uiCardBorderColour: #e5e5e5;
    --clipPath: polygon(10px 0, 0 10px, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
}

table, th, td {
    border-collapse: collapse;
    border: none;
}

th, td {
    margin: 0;
    padding: 5px;
}

table {
    min-width: 100%;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(0, 0, 0, 0.05);
}

.tableHolder {
    overflow-x: auto;
}

.tableColumnName {
    white-space: nowrap;
}

.tableColumnButtons {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}